<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bkybk.dao.AgendaDao" >
  <resultMap id="BaseResultMap" type="agenda" >
    <id column="agenda_id" property="agendaId" />
    <result column="meeting_id" property="meetingId"/>
    <result column="time" property="time" />
    <result column="content" property="content" />
    <result column="staff" property="staff"/>
  </resultMap>
  <sql id="Base_Column_List" >
    agenda_id, meeting_id, time, content, staff
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from agenda
    where agenda_id = #{agendaId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from agenda
    where agenda_id = #{agendaId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="agenda" >
    insert into agenda (agenda_id, meeting_id, time, 
      content, staff)
    values (#{agendaId,jdbcType=BIGINT}, #{meetingId,jdbcType=BIGINT}, #{time,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{staff,jdbcType=VARCHAR})
  </insert>
  
  <insert id="batchInsertAgendas" parameterType="java.util.List" >
    insert into agenda (agenda_id, meeting_id, time, content, staff)
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.agendaId,jdbcType=BIGINT}, #{item.meetingId,jdbcType=BIGINT}, #{item.time,jdbcType=BIGINT}, 
      #{item.content,jdbcType=VARCHAR}, #{item.staff,jdbcType=VARCHAR})  
    </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="agenda" >
    insert into agenda
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agendaId != null" >
        agenda_id,
      </if>
      <if test="meetingId != null" >
        meeting_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="staff != null" >
        staff,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agendaId != null" >
        #{agendaId,jdbcType=BIGINT},
      </if>
      <if test="meetingId != null" >
        #{meetingId,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="staff != null" >
        #{staff,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update agenda
    <set >
      <if test="record.agendaId != null" >
        agenda_id = #{record.agendaId,jdbcType=BIGINT},
      </if>
      <if test="record.meetingId != null" >
        meeting_id = #{record.meetingId,jdbcType=BIGINT},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.staff != null" >
        staff = #{record.staff,jdbcType=VARCHAR},
      </if>
    </set>
  </update>
  
  <update id="updateByExample" parameterType="map" >
    update agenda
    set agenda_id = #{record.agendaId,jdbcType=BIGINT},
      meeting_id = #{record.meetingId,jdbcType=BIGINT},
      time = #{record.time,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      staff = #{record.staff,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="agenda" >
    update agenda
    <set >
      <if test="meetingId != null" >
        meeting_id = #{meetingId,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="staff != null" >
        staff = #{staff,jdbcType=VARCHAR},
      </if>
    </set>
    where agenda_id = #{agendaId,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="agenda" >
    update agenda
    set meeting_id = #{meetingId,jdbcType=BIGINT},
      time = #{time,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      staff = #{staff,jdbcType=VARCHAR}
    where agenda_id = #{agendaId,jdbcType=BIGINT}
  </update>
</mapper>