<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.dao.UserDao" >
  <resultMap id="UserResultMap" type="user" >
    <id column="ID" property="id"/>
    <result column="NICKNAME" property="nickname"/>
    <result column="EMAIL" property="email"/>
    <result column="MOBILE" property="mobile"/>
    <result column="IDENTITY" property="identity"/>
    <result column="PASSWORD" property="password"/>
    <result column="HEAD_URL" property="headUrl"/>
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    user_id, name, short_name, mobile, telphone, password, sex, staffno, email, valid, 
    create_time, head_path, thumb_path, index_url, is_true, is_used, spare
  </sql>
  
  <select id="getUserById" resultMap="UserResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from user
     where mobile =  #{mobile}
  </select>
  
  <select id="getUsersByUserIds" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from user
     where user_id in ${userIds}
  </select>
  
  <select id="getUserByDepartId" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
     a.user_id,name,short_name,mobile,telphone,sex,staffno,email,valid,is_true,is_used,spare
     from user a,org_depart_job_user b
     where a.user_id = b.user_id and depart_id =  #{departId} and b.org_id = #{orgId}
  </select>
</mapper>